
/* L'arrière plan et le body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
      background-image: url(".//images/married.jpg");
  background-size: cover  ;
  background-repeat: no-repeat;
  background-position: center;


}

/* --- Pour le header  --- */
header {
    background-color: rgb(18, 176, 228);
    color: darkblue;
    padding: 20px 0;
    text-align: center;

}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin: 0;
}

/* --- liste et naviguation --- */
nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
  
  
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a {
    color: #333;
}

/* --- les sections et  présentations  --- */
section.presentation {
    padding: 60px 20px;
    text-align: center;
    max-width: 900px;
    margin:  auto;
}

section.presentation h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

section.presentation p {
    font-size: 18px;
    color:white ;
}


#services {
    background-color: #fff7f3;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.service-card {
    background: white;
    border-radius: 12px;
    max-width: 900px;
    display: flex;
    
}



.service-content h3 {
    font-family: 'Playfair Display', serif;
    color: darkblue;
    font-size:40px;
    margin-top: 0; 

    
}

.service-content p {
    font-size:17px;
    color: #555;
}

/* la section footer*/ 

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

footer p {
    margin: 0;
}


    nav ul {
        flex-direction: column;
        gap: 10px;
        
    }

    .service-card {
         flex-direction:column;
        align-items: center;
    }

    .service-card img {
        max-width: 100%;
    }

    .service-content {
        padding: 20px;
     margin: 12px;
    }


