*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: rgb(61, 197, 172);
    text-align: center;
    padding-bottom: 20px;
}

h1{
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 40px;
    color: rgb(40, 39, 126);
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}


#presentation{
    height: 40vh;
    background: url(.//images/married.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#presentation h2{
    padding-top: 90px;
    padding-bottom: 40px;
    color: white;
    font-size: 35px;
}

#presentation p{
    margin: auto;
    color: white;
    width: 650px;
    font-size: 20px;
}

#services{
    background-color: rgb(162, 167, 151);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    
}

.service-card img{
    width: 70vh;
}

.service-card{
    background-color: white;
    width: 70vh;
    margin: auto;
    border-radius: 5%;
}

.service-content h3{
    margin-top: 35px;
    margin-bottom: 15px;
    padding-left: 9px;
    text-align: left;
}

.service-content p{
    margin: auto;
    width: 68vh;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 20px;
}


footer{
    background-color: rgb(3, 3, 48);
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact p{
    color: white;
    text-align: center;
}

/* --- Smartphones (<= 768px) --- */
@media (max-width: 768px) {

  body {
    padding: 10px;
      color: red;
  }

  .site-header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  #hero {
    flex-direction: column;
  }

  .projects-contenue {
    grid-template-columns: 1fr;
  }

  .pdf-wrapper {
    height: 350px;
  }
}
